@use 'variables' as *;

// Main Div
.main-div{
  display: flex;

  // Sidebar

  //toggle sidebar collapse
  .sidebar-collapsed{
    width: 78px !important;
    .sidebar-top{
      .sidebar-logo-div{
        @include flex-justify(center);
        width: 60px;
        position: relative;
        .logo-img{
          display: block !important;
        }
        .logo-text-img{
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.4s ease;
        }
      }
      .sidebar-menu-icon .menu-icon{
        display: none !important;
      }
    }
    .sidebar-bottom{
      ul {
        li.subheadings-item{
          .subheadings-text{
            transition: opacity 0.3s ease;
            opacity: 0;
          }
        }
        li {
          a {
            span{
              transition: opacity 0.3s ease;
              opacity: 0;
            }
            i{
              transition: font-size 0.3s ease;
              font-size: 26px !important;
            }
          }
        }
      }
    }
  }

  .content-collapsed{
    left: 78px !important;
    width: calc(100% - 78px)  !important;

  }
  //active sidebar
  .sidebar-container {
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.3s ease;
    background-color: $white-color;
    color: $primary-color;
    border-right: 1px $border-color solid;
    width: 289px;
    height: 100%;
    position: fixed;
    .sidebar-top{
      height: 70px;
      padding: 14px 18px;
      @include flex-align(center);
      .sidebar-logo{

        @include display-flex(center, space-between);

        width: 100%;
        .sidebar-logo-div{
          max-height: 36px;
          .logo-img{
            height: 100%;
            width: auto;
            display: none;
          }
          .logo-text-img{
            height: 100%;
            width: auto;
          }
        }
        .sidebar-menu-icon {
          cursor: pointer;
          width: 35px;
          height: 35px;
          @include display-flex(center, center);
          .menu-icon {
            font-size: 24px;
            color: $dark-gray;
            width: 10px;
            height: 10px;
            @include display-flex(center, center);
            // Grow circle on parent hover
            &:hover {
              min-width: 45px;
              height: 45px;
              background-color: rgba($secondary-color, 0.2);
              color: $secondary-color;
              border-radius: 50%;
              transition: width 0.5s ease, height 0.5s ease, background-color 0.5s ease;
            }
          }
        }

      }
    }
    .sidebar-bottom{
      ul {
        list-style: none;
        margin-top: 25px;
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        li.subheadings-item{
          .subheadings-text{
            padding: 0 12px;
            margin: 0 0 4px 0;
            color: $light-gray;
            font-size: 11px;
            font-weight: 700;
            text-wrap: nowrap;
          }
        }
        li {
          
          .active {
              background-color: rgba($secondary-color, 0.2);
              i,span{
                color: $secondary-color !important;
                font-weight: 600;
              }
             
          }
          a { 
            height: 53px !important;
            padding: 10px 12px;
            text-decoration: none;
            @include flex-align(center);
            gap: 12px;
            border-radius: 8px;
            &:hover {
              background-color: rgba($secondary-color, 0.2);
              i,span{
                color: $secondary-color !important;
                font-weight: 600;
                transition: font-weight 0.1s ease;
              }
            }
            i{
              padding: 0;
              margin: 0;
              font-size: 19px;
              color: $light-gray;
            }
            span{
              font-weight: 400;
              color: $dark-gray;
              font-size: 15px;
            }
          }
        }
      }

    }
  }
  // Content Container
  .content-container{
    position: relative;
    left: 289px;
    width: calc(100% - 289px); 
    height: 100vh;
    transition: left 0.3s ease, width 0.3s ease;
    .content-top{
      border-bottom: 1px $border-color solid;
      height: 69px;
      background-color: $white-color;
      @include display-flex(center, space-between);
      padding: 2px clamp(3px, 5vw, 30px);


      .content-top-right{
        display: block;
        .content-user-profile{
          .dropdown{
            .user-profile-text{
              text-decoration: none !important;
              font-weight: 700;
              width: 40px;
              height: 40px;
              background-color: $secondary-color !important;
              color: $white-color;
              border-radius: 50%;
              padding: 8px;
              font-size: $fs-body;
              @include display-flex(center, center);
            }
            .dropdown-top{
              @include flex-align(center);
              column-gap: 12px;
              .user_name{
                display: block;
                font-weight: 700;
                font-size: $fs-small;
                color: $light-gray;
              }
            }
            .dropdown-menu{
              width: 300px;
              padding: 0;
              li.dropdown-list{
                height: 60px !important;
                padding: 8px 8px;
                @include display-flex(center, flex-start);
                a.dropdown-item{
                  
                  span{
                    font-size: 16px;
                    color: $dark-gray;
                  }
                  i{
                    font-size: 18px;
                    color: $light-gray;
                    margin-right: 5px;
                  }
                  &:hover{
                    background-color: transparent;
                    i, span{
                      color: $secondary-color;
                    }
                  }
                }
              }
              li.dropdown-profile-info{
                height: 60px;
                padding: 40px 16px !important;
                column-gap: 12px;
                background-color: $tertiary-color;
                @include display-flex(center, flex-start);
                &:hover{
                  background-color: $tertiary-color;
                }
                .user_name{
                  font-weight: 700;
                  color: $dark-gray;
                }
                .user_email{
                  font-size: 12px;
                  color: $light-gray;
                }
              }
            }
          }
        }
      }
    }
    .content-bottom{
      padding: 40px 30px 10px 30px;
      height: calc(100vh - 69px);
      overflow-y: auto;
    }
  }

}
.content-logo-text,
.content-menu-icon{
  display: none;
}
//--------------------------------------------------------------
// Responsive for mobile and tablets
@media (max-width: 1199px) {
  .main-div{
    
    .dropdown-top .user_name{
      display: none !important;
    }

    .sidebar-collapsed-mobile{
      left: 0 !important;

    }
    .content-collapsed-mobile{
        &.content-collapsed-mobile::after {
          content: "";
          position: fixed;
          top: 0;
          left: 0;                 // starting position
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); // semi-transparent overlay
        }
    }
    // Sidebar Container
    .sidebar-container {
      z-index: 4;
      left: -289px;
      transition: left 0.3s ease;
    }

    // Content Container
    .content-container{
      left: 0px;
      width: 100%;
      .content-top{
        .content-top-left{
          @include flex-align(center);
          column-gap: 8px;
          .content-logo-text{
            display: block;
            max-height: 40px;
            .logo-text-img{
              height: 100%;
              width: auto;
            }
          }
          .content-menu-icon{
            width: 45px;
            height: 45px;
            @include display-flex(center, center);
            .menu-icon{
              font-size: 24px;
              color: $dark-gray;
              width: 30px;
              height: 30px;
              @include display-flex(center, center);
              // Grow circle on parent hover
              cursor: pointer;
              &:hover {
                width: 45px;
                height: 45px;
                background-color: rgba($secondary-color, 0.2);
                color: $secondary-color;
                border-radius: 50%;
                transition: width 0.5s ease, height 0.5s ease, background-color 0.5s ease;
              }
            }
          }
        }
      }
    }

    .content-bottom{
      padding: 40px 15px 10px 15px !important;
    }
  }
}
